  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script defer src="../webSocketClient.js"></script>

</body>
</html>